{
  "presets": [
    "react",
    ["env", { "modules": false }],
    "flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas"
  ]
}
